<div>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div style="height: 45px;" class="modal-header">
                <span style="float: left;" class="glyphicon glyphicon-wrench"></span>
                <p style="float: left; font-weight: bold; margin-left: 5px;" id="tituloDetalleSubCuenta" class="modal-title"></p>
                <button type="button" class="close" data-dismiss="modal" style="font-size: 30px; margin-top: -8px;">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <p>Cuenta:</p>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-lg-10">
                        <select class="form-control estiloInputs" id="dropDownCuentas"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <p>Nombre:</p>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-lg-10">
                        <input class="form-control estiloInputs" type="text" id="nombreSubCuenta" placeholder="Nombre de SubCuenta" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-2 col-lg-2">
                        <p>Código:</p>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-lg-3">
                        <p style="width: 100px;" id="inicioIdSubCuenta"></p>
                        <input style="display: none;" class="form-control estiloInputs" type="text" id="idSubCuenta" placeholder="Código" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <form id="formGuardaSubCuenta" action="/Contabilidad/GuardarSubCuenta" method="POST">
                    <button id="guardarSubCuenta" type="submit" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-check"></span></button>
                    <input id="idCuentaAEnviar" name="idCuenta" type="hidden" value="" />
                    <input id="idSubCuentaAEnviar" name="idSubCuenta" type="hidden" value="" />
                    <input id="nombreCuentaAEnviar" name="nombreCuenta" type="hidden" value="" />

                </form>
            </div>
        </div>

    </div>
</div>
